<!-- ================Login Box Area ================= -->
<section class="login_box_area section_gap">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="login_form_inner">
               <h3>Add new Book</h3>
               <form class="row login_form mw-100" method="post" name="frmBook">
                  <div class="col-md-12 form-group py-2">
                     <input type="text" class="form-control" ng-model="book.id" name="txtId" required
                        placeholder="Book ID" />
                     <div class="text-danger" ng-show="frmBook.txtId.$touched || frmBook.txtId.$dirty">
                        <span ng-show="frmBook.txtId.$error.required">ID không được trống</span>
                     </div>
                  </div>

                  <div class="col-md-12 form-group py-2">
                     <input type="text" class="form-control" ng-model="book.bookName" name="txtBookName" required
                        ng-minlength="3" placeholder="Book name" />
                     <div class="text-danger" ng-show="frmBook.txtBookName.$touched || frmBook.txtBookName.$dirty">
                        <span ng-show="frmBook.txtBookName.$error.required">Book Name không được trống</span>
                        <span ng-show="frmBook.txtBookName.$error.minlength">Book Name không được ít hơn 3 ký tự</span>
                     </div>
                  </div>

                  <div class="col-md-12 form-group py-2">
                     <input type="text" class="form-control" ng-model="book.author" name="txtAuthor" required
                        ng-minlength="3" ng-maxlength="15" placeholder="Book Author" />
                     <div class="text-danger" ng-show="frmBook.txtAuthor.$touched || frmBook.txtAuthor.$dirty">
                        <span ng-show="frmBook.txtAuthor.$error.required">Author không được trống</span>
                        <span ng-show="frmBook.txtAuthor.$error.minlength">Author không được ít hơn 3 ký tự</span>
                        <span ng-show="frmBook.txtAuthor.$error.maxlength">Author không quá 15 ký tự</span>
                     </div>
                  </div>

                  <div class="col-md-12 form-group py-2">
                     <input type="file" class="form-control" ng-model="book.image" name="txtImage" />
                     <!--angular.element(this).scope().setName(this)-->
                     <!-- <div class="text-danger" ng-show="frmBook.txtImage.$touched || frmBook.txtImage.$dirty">
                        <span ng-show="frmBook.txtImage.$error.required">Link ảnh không để trống</span>
                     </div> -->
                  </div>
                  <!-- <div class="col-md-12 form-group py-2">
                     <input type="file" class="form-control" ng-model="book.image" name="txtImage" required
                        placeholder="Book link image" onchange="angular.element(this).scope().uploadImage(this); " />
                     <!- angular.element(this).scope().setName(this)-->
                  <!-- <div class="text-danger" ng-show="frmBook.txtImage.$touched || frmBook.txtImage.$dirty">
                        <span ng-show="frmBook.txtImage.$error.required">Link ảnh không để trống</span>
                     </div> -->
                  <!-- </div> -->

                  <div class="col-md-12 form-group text-center py-2">
                     <button type="button" class=" btn btn-primary" ng-click="onSubmit()">
                        Add
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>